Ques.1 : Write a code to reverse a string

In [8]:
a ="Hello world"
a = "".join(reversed(a))
print(a)

dlrow olleH

In [13]:
a[::-1]

'dlrow olleH'


 Ques 2 : write a code to count the number vowel in a string

In [2]:
a ="Hello world ICECREAM"
b= 0
for i in a:
    if i in "aeiouAEIOU":
        b = b+1
print(b)

7

 Ques 3 :Write a code to check the string is palidrome or not

In [48]:
b ="madam"
print(b)
c=b[::-1]
if b==c:
    print("palidrome")
else:
    print("not palidrome")

madam
palidrome

Ques 4: Write a code to check a string are anagram to each other

In [53]:
a ="thin"
b ="hint"
c=sorted(a)
d=sorted(b)
if c==d:
    print(a,b, "is anagram")
else:
    print(a,b, "is not a anagram")

thin hint is anagram

Question 5: Write a code to find all occurence of agiven substring with another string

In [61]:
a = "Write a code to find all occurence of agiven substring with another string"
b = "to" 
l = len(b)
c=0
for i in range(len(a)):
    if a[i:i+l] == b:
        print(a[i:i+l])
        c+=1
print(c)

to
1

Ques 6:  Write a code to perform basic string compressing using the count of repeted characters

In [64]:
original_string = "aabcccccaaa"

c = 1
s = ""
for i in range(len(original_string)-1):
    if original_string[i] == original_string[i+1]:
        c+=1
    else:
        s += original_string[i]
        s += str(c)
        c = 1
s += original_string[i]
s += str(c)
print(s)

a2b1c5a3

Ques 7: Wrte a code to determine all string has unique charecters

In [3]:
a = 'abcd'
for i in a:
    if a.count(i)>1:
        print("given string does not have unique charecters")
        break
else:
    print("given string have all unique characters")

given string have all unique characters

Ques 8: Write a code to convert a string into upper case or lower case

In [6]:
a = "Hello"
print("uper case: ",a.upper())
print("lower case: ", a.lower())

uper case:  HELLO
lower case:  hello

Ques 9: Write a code to count the number of words in a string

In [8]:
a = "Write a code to count the number of words in a string"
b = a.split(" ")
print(len(b))

12

Ques 10: Write a code to concatenate two string without using + operator

In [18]:
a = "abcd"
b = "bcjs"
c = f"{a}{b}"
print(c)

abcdbcjs

Ques 11: Write a code to remove all occurrence of a specific element of a list

In [19]:
numbers = [1, 2, 3, 4, 2, 5, 2]
item = 2
res = []
for i in numbers:
    if i!=item:
        res.append(i)
print(res)

[1, 3, 4, 5]

In [22]:
numbers = [1, 2, 3, 4, 2, 5, 2]
item = 2
c = numbers.count(item)
for i in range(c):
    numbers.remove(item)
print(numbers)

[1, 3, 4, 5]

Ques 12: Implementation a code to find the second largest number in a given list of integer

In [8]:
a = [2,3,1,5,9,11,15]
for i in range(1):
    m = max(a)
    a.remove(m)
print(max(a))

11

Ques 13: Create a code to count the occurance of each element in list and return a dictinary with elements as key and their count as value

In [10]:
a = [2,3,1,5,9,11,15,32,2,5,2,1,1,3,2,2,11,5,3,4]
d = {}
for i in a:
    if i not in d.keys():
        d[i] = 1
    else:
        d[i] = d[i] + 1
print(d)

{2: 5, 3: 3, 1: 3, 5: 3, 9: 1, 11: 2, 15: 1, 32: 1, 4: 1}

Ques 14: write a code to reverse a list in place without using any built in reverse functions

In [23]:
a = [2,3,1,5,9,11,15]
a = a[::-1]
print(a)

[15, 11, 9, 5, 1, 3, 2]

Ques 15: Implement a code to find and remove duplicate from a list while preserving the order of original element

In [27]:
a = [2,3,1,9,5,5,3,2,9,11,15]
d = {}
for i in a:
    d[i] =1
print(list(d.keys()))

[2, 3, 1, 9, 5, 11, 15]

Ques 16: Create a code to check if a given list is sorted(either is assending or descending order) or not

In [33]:
a = [5,4,3,2,1,4]
b = list(sorted(a))
c = list(sorted(b, reverse = True))
if a==b or a==c:
    print("list is in sorted order")
else:
    print("list is not in sorted order")

list is not in sorted order

Ques 17: Write a code to merge two sorted lists into a single sorted list

In [35]:
a = [1,2,8,9]
b = [3,4,11,24]
c = []
i = 0
j = 0
while i<len(a) or j<len(b):
    if i == len(a):
        c.append(b[j])
        j=j+1
    elif j==len(b):
        c.append(a[i])
        i = i + 1
    elif a[i]<b[j]:
        c.append(a[i])
        i = i+1
    elif a[i]>b[j]:
        c.append(b[j])
        j = j+1
    elif a[i] == b[j]:
        c.append(a[i])
        c.append(b[j])
        i = i+ 1
        j = j+ 1
print(c)

[1, 2, 3, 4, 8, 9, 11, 24]

Ques 18: Implement a code to find the intersection of two lists with duplicates

In [40]:
a = [1,2,3,3,4,4,4,8,9]
b = [3,4,9,11,24]
c = []
for i in a:
    if i in b:
        c.append(i)
        b.remove(i)
print(c)

[3, 4, 9]

Ques 19: Create a code to find the union of two list without duplicats

In [41]:
a = [1,2,3,3,4,4,4,8,9]
b = [3,4,9,11,24]
a = set(a)
b = set(b)
c = a.union(b)
print(list(c))

[1, 2, 3, 4, 8, 9, 11, 24]

Ques 20: Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [43]:
import random
b = [3,4,9,11,24]
l = len(b)
for i in range(l):
    j = random.randint(0, l-1)
    b[i],b[j] = b[j], b[i]
print(b)

[9, 3, 11, 24, 4]

Ques 21:  Write a code that takes two tuple as input and return a new tuple contaiing element that are
containing elements that are common to both input tuple

In [45]:
tpl1 = (4, 'v', (1, 3), 9, 8, ('m', 'v'))
tpl2 = (7, 6, (3, 1), 5, 9, ('m', 'v'))
tpl3 = tuple()
for i in tpl1:
    if i in tpl2:
        tpl3 = tpl3 + (i,)
tpl3

(9, ('m', 'v'))

Ques 22:

In [55]:
set1 = set(map(int,input().split(",")))
set2 = set(map(int,input().split(",")))
print(set1.intersection(set2))

 1,2,3,4,5
 3,4,5,6,7

{3, 4, 5}

Ques 23:

In [56]:
tup1 = tuple(map(int,input().split(",")))
tup2 = tuple(map(int,input().split(",")))
tup3 = tup1 + tup2
print(tup3)

 1,2,3,4
 2,3,4,5

(1, 2, 3, 4, 2, 3, 4, 5)

Ques 24:

In [57]:
set1 = set(input())
set2 = set(input())
print(set1)

 dhfhghg
 djfjhfh

{'f', 'h', 'd', 'g'}

Ques 25:

In [59]:
tup = tuple(map(int,input().split(",")))
idx1 = int(input())
idx2 = int(input())
print(tup[idx1:idx2])

 1,23,3,4,5,6,4,3,3
 4
 7

(5, 6, 4)

Ques 26:

In [62]:
set1 = set(input())
set2 = set(input())
print(set1.union(set2))

 fhsksjs
 fjdjsvv

{'j', 'h', 'v', 'k', 'd', 's', 'f'}

Ques 27:

In [63]:
tup = tuple(map(int,input().split(",")))
val = max(tup), min(tup)
print(val)

 1,2,3,4,3,5,2

(5, 1)

Ques 28:

In [68]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
inter = set1.intersection(set2)
uni = set1.union(set2)
diff = set1.difference(set2)
print(inter, uni, diff)

{3, 4, 5} {1, 2, 3, 4, 5, 6, 7} {1, 2}

Ques 29:

In [70]:
tup = tuple(map(int,input().split(",")))
val = int(input())
print(tup.count(val))

 1,2,3,4,3,2,3,4,5
 2

2

Ques 30:

In [72]:
set1 = set(input())
set2 = set(input())

print(set1.symmetric_difference(set2))

 abcde
 bcdef

{'a', 'f'}

Ques 31:

In [73]:
s = input()
words = s.split()
d = {}
for word in words:
    if word not in d.keys():
        d[word] = 1
    else:
        d[word] = d[word] + 1
print(d)

 Certainly! In Python, the symmetric difference between two sets refers to the set of elements that are present in either of the two sets, but not common to both sets. Let’s break it down

{'Certainly!': 1, 'In': 1, 'Python,': 1, 'the': 3, 'symmetric': 1, 'difference': 1, 'between': 1, 'two': 2, 'sets': 1, 'refers': 1, 'to': 2, 'set': 1, 'of': 2, 'elements': 1, 'that': 1, 'are': 1, 'present': 1, 'in': 1, 'either': 1, 'sets,': 1, 'but': 1, 'not': 1, 'common': 1, 'both': 1, 'sets.': 1, 'Let’s': 1, 'break': 1, 'it': 1, 'down': 1}

Ques 32:

In [74]:
dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300,'a':10}
for key in dict2.keys():
    if key in dict1.keys():
        dict1[key] = dict1[key] + dict2[key]
    else:
        dict1[key] = dict2[key]
print(dict1)

{'a': 22, 'for': 325, 'c': 9, 'Geeks': 100, 'geek': 200}

Ques 33: